<div fxLayout fxLayoutAlign="center center">
	<div fxFlex="80%">
		<nav mat-tab-nav-bar>
			<a mat-tab-link
				 *ngFor="let testWindow of testWindows"
				 [routerLink]="['./test', testWindow.id]">
				{{testWindow.label}}
			</a>
		</nav>
		<router-outlet></router-outlet>
	</div>
</div>
